<template name="cardsetInfoBoxItemBonusWorkingTimeSum">
    {{#if this.learningActive}}
        <tr>
            <td>{{_ "learningHistory.stats.duration.workingTime.sum"}}:</td>
            <td>{{getBonusWorkingTimeSum}}</td>
        </tr>
    {{/if}}
</template>
