<template name="cardsetInfoBoxItemBonusCardMedian">
    {{#if this.learningActive}}
        <tr>
            <td>{{_ "learningHistory.stats.duration.answerTime.median"}}:</td>
            <td>{{getBonusCardMedian}}</td>
        </tr>
    {{/if}}
</template>
