<template name="cardsetInfoBoxItemBonusActiveLearners">
    {{#if this.learningActive}}
        <tr>
            <td>{{_ "cardset.info.workload.bonus.count"}}:</td>
            <td>{{_ "cardset.info.workload.bonus.user" count=(getActiveBonusLearnerCount this)}}</td>
        </tr>
    {{/if}}
</template>
